/*======---------------------------------------------------------------======//
//                                                                           //
// Copyright 2022 Evan Cox <evanacox00@gmail.com>. All rights reserved.      //
//                                                                           //
// Use of this source code is governed by a BSD-style license that can be    //
// found in the LICENSE file at the root of this project, or at the          //
// following link: https://opensource.org/licenses/BSD-3-Clause              //
//                                                                           //
//======---------------------------------------------------------------======*/

.correct {
    --correct-color: #60d394;
    background-color: var(--correct-color);
    border-color: var(--correct-color);
    color: white;
}

.incorrect {
    --incorrect-color: #ee6055;
    background-color: var(--incorrect-color);
    border-color: var(--incorrect-color);
    color: black;
}

.input-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}