/*======---------------------------------------------------------------======//
//                                                                           //
// Copyright 2022 Evan Cox <evanacox00@gmail.com>. All rights reserved.      //
//                                                                           //
// Use of this source code is governed by a BSD-style license that can be    //
// found in the LICENSE file at the root of this project, or at the          //
// following link: https://opensource.org/licenses/BSD-3-Clause              //
//                                                                           //
//======---------------------------------------------------------------======*/

.fast-fade-enter {
    opacity: 0;
}

.fast-fade-exit {
    opacity: 1;
}

.fast-fade-enter-active {
    opacity: 1;
}

.fast-fade-exit-active {
    opacity: 0;
}

.fast-fade-enter-active,
.fast-fade-exit-active {
    transition: opacity 150ms;
}
